name: Release Dev Container Features
on:
  workflow_dispatch: {}
jobs:
  deploy:
    if: ${{ github.ref == 'refs/heads/main' }}
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      packages: write
    steps:
    - uses: actions/checkout@v4
    - name: Publish Features
      uses: devcontainers/action@v1
      with:
        publish-features: true
        base-path-to-features: ./src
        generate-docs: true
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - name: Create PR for Documentation
      id: push_image_info
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: "set -e\necho \"Start.\"\n# Configure git and Push updates\ngit config\
        \ --global user.email github-actions[bot]@users.noreply.github.com\ngit config\
        \ --global user.name github-actions[bot]\ngit config pull.rebase false\nbranch=automated-documentation-update-$GITHUB_RUN_ID\n\
        git checkout -b $branch\nmessage='Automated documentation update'\n# Add /\
        \ update and commit\ngit add */**/README.md\ngit commit -m 'Automated documentation\
        \ update [skip ci]' || export NO_UPDATES=true\n# Push\nif [ \"$NO_UPDATES\"\
        \ != \"true\" ] ; then\n    git push origin \"$branch\"\n    gh pr create\
        \ --title \"$message\" --body \"$message\"\nfi\n"
